<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A reservation has been made at <%= @restaurant %>.</h1>
    <p>
      The reservation was made for <%= @time %> by <%= @user %>.<br>
    </p>
    <p>
    </p>
    <p>Have a great day!</p>
  </body>
</html>