<h1>Reservation confirmed.</h1>

<h2>Your registration at <%= @restaurant.name %> has been made for <%= @reservation.datetime %>.  You will receive an email once it has been approved.</h2>

<p>
<%= link_to 'Back',restaurants_path %>
</p>