<h2>Current Reservations</h2>
<table>
	<tr>
		<th>User</th>	
		<th>Time</th>
	</tr>
	<% @restaurant.reservations.each do |reservation| %>
		<tr>
		<td><%= reservation.user %></td>
		<td><%= reservation.time %></td>
		<td><%= link_to 'Delete', restaurant_reservation_path(reservation), :method => :delete, data: { confirm: 'Are you sure you want to delete?' }%></td>
		</tr>
		<%end%>
</table>

<p>
<%= link_to 'Back',restaurants_path %>
</p>